# Database (Vercel Postgres or standard PostgreSQL)
DATABASE_URL="postgresql://neondb_owner:npg_bjsB0mXN9RvO@ep-cold-haze-ai8qyxi5-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:npg_bjsB0mXN9RvO@ep-cold-haze-ai8qyxi5.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Auth.js v5 - generate with: npx auth secret
AUTH_SECRET="1e38f203d389aedd238bc9c76da24fc71f9d8b03a50b60990c1acdf1890c80aa"


# GitHub OAuth (create at https://github.com/settings/apps)
AUTH_GITHUB_ID="Ov23lir39fNXwLF4cIFW"
AUTH_GITHUB_SECRET="f3dac8756fd19f395558e0b00371efd859769dee"

# Vercel Blob Storage
BLOB_READ_WRITE_TOKEN="vercel_blob_rw_YsAQApgdOynCuKxS_DvWP7DFW0rWQuOPeBGIG5yrnqA0tU3"

# App URL
NEXTAUTH_URL="http://localhost:3000"


